@font-face {
	font-family: Heebo;
	font-display: swap;
	src: url("../fonts/Heebo-bold.woff2") format("woff2"), url("../fonts/Heebo-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Heebo;
	font-display: swap;
	src: url("../fonts/Heebo-black.woff2") format("woff2"), url("../fonts/Heebo-black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Heebo;
	font-display: swap;
	src: url("../fonts/Heebo-regular.woff2") format("woff2"), url("../fonts/Heebo-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Heebo;
	font-display: swap;
	src: url("../fonts/Heebo-medium.woff2") format("woff2"), url("../fonts/Heebo-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
